@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
  background: #00458B;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5.2rem;
  margin-bottom: 6rem;
  text-align: center;
  color: #fff;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: .5rem;
  margin-bottom: 5rem;
  width: 30rem;
  padding: 2rem;
  line-height: 2rem;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 2.6rem;
  margin-top: 5rem;
}

.team .team_member p.role{
  color: #ccc;
  margin: 1.2rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 10rem;
  height: 10rem;
  padding: .5rem;
}
@media (max-width:998px) {
    html{
        font-size: 55%;
    }
    
}
@media (max-width:768px) {
    html{
        font-size: 45%;
    }
    
}